body
{
    background-color: #5c87b2;
    font-size: large;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
    padding: 0 0 0 0;
    color: #696969;
	margin:0px;
}
.page
{
	text-align:left;
	width:994px;
}
.head
{
   
    padding: 0;
    height: 25px;
    margin-bottom: 2px;
    margin-left: 3px;
}
.head div.message
{
	background-image: url('../Images/warning.png');	 
	background-repeat:no-repeat;
	background-position:left center;
	margin-left: 3px;
	background-color: #C0C1DC;
	font-size: 13px;
	color: #150643;
	padding: 1px;
	padding-left:25px;
	font-weight: bold;
}


.left
{
	
    background-color: #150643;
    padding: 0;
    min-height: 670px;
    width: 150px;
    overflow:hidden;
}

.left div.logo
{
	padding:2px 0px 2px 0px;
}
.left div.progID, .left div.progNM
{
	color: #FFFFFF;
	font-size:14px;
	margin-left:5px;
	font-weight: bold;
}


.left div.empNM
{
	color: #FFFF66;
	font-size: 14px;
	margin: 8px 5px 5px 5px;
	font-weight: bold;
}

.content
{
	position:relative;
	margin-left:3px;
	z-index:1000;
    background-color: #FFFFFF;
    padding: 0;
    min-height: 640px;
    width:840px;	
    vertical-align:top;
}

.content #frameContent, .content #frameDetail
{
	width:100%;	
}
h1
{
   font-size:12px;
    padding: 0 5 0 5;
    margin: 0 0 0 0;
}


/* ---------- 大小與定位 ---------- */

#menu ul {
	/* 取消ul樣式符號 */
	list-style-type:none;
	/* 重設ul邊界與留白為零 */
	margin:0;
	padding:0;
	/* 內有浮動元件時，需設overflow才會自動調整大小 */
	
}



#menu ul li a {
	/* 將a改為區塊元件，以便指定寬高 */
	display:block;
	/* 這邊也要設float，否則IE6會以100%寬度顯示 */
	height:27px;
	width: 100%;
	text-align: left;
	
}

 #menu ul li div.arrow
{
	float:left;
	margin-top:8px;
	margin-left:15px; width:0px; height:0px; border:5px solid; 
	border-color:transparent transparent transparent #150643;
    border-style:dashed dashed dashed solid;
}
#menu ul li ul {	
	/* 避免出現捲軸 */
	overflow:visible;
}

#menu ul li ul li {
	/* 覆寫繼承自第一層的浮動設定 */
	float:none;

}
#menu ul li ul li a {
	/* 覆寫繼承自第一層的浮動設定 */
	float:none;
	width: 100%;/* 註：display、height、padding繼承第一層的設定 */
}/*
#menu ul li ul li ul {
	margin-top: -30px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 100px;
	width: 100%;
}*/

#menu ul li ul li ul li {
/* width、float繼承第二層，免設定 */
}
#menu ul li ul li ul li a {
/* width、float繼承第二層，免設定 */
}
/* ---------- 隱藏與顯示階層 ---------- */
#menu ul li ul {
	/* 預先隱藏第二層 */
	display:none;	
}

#menu ul li.show ul {
	/* 觸動第一層時，顯示第二層 */
	display:block;	
}

 #menu ul li.show div.arrow
{
	float:left;
	margin-top:10px;
	margin-right:5px; 
	margin-left:10px; width:0px; height:0px; border:5px solid;  border-color:#150643 transparent transparent transparent;/
    border-style:solid dashed dashed dashed;
}

#menu ul li.show
{
	background-color:#E0EEEE;
}

/* ---------- 以下為美化用 ---------- */


/* 預設字體 */
#menu {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	background:#6f6f6f;
}
/* 第一層ul背景色彩與邊框 */
#menu ul
{
	
	background: #C0C1DC;
	color: #333333;
}
#menu ul li
{
	margin-left: -10px;
	border-bottom:solid 2px #6f6f6f;	
}

#menu ul li ul li
{
	margin-left: 30px;
	border-bottom:none;	
}

/* 第一層a字型 */
#menu ul li a {
	color: #303030;	
	text-decoration:none;
	line-height: 25px;
	
}
/*第二層ul背景色彩與邊框  */
#menu ul li ul {
	background:#efefef;
}
/* 第二層a字型 */
#menu ul li ul li a {
	font-size:12px;
	color:#333333;
	text-decoration:none;
}
/* 觸動第一層li時，改變背景色 */
#menu ul li:hover, #menu ul li a:hover {
	background-color:#E0EEEE;
}
#menu ul li:hover a {
	color:#333333;
	
}
/* 觸動第二層以上li時改變背景色 */
#menu ul li ul li:hover, #menu ul li ul li a:hover {
	background:#dfdfdf;
}

/* 觸動第二層以上li時改變背景色 */
 #menu ul li ul li a.selected {
	color:Red;
	font-weight:bold;
}

 #menu ul li div.arrow
{
	float:left;
	margin-top:8px;
	margin-left:12px; width:0px; height:0px; border:5px solid; 
	border-color:transparent transparent transparent #150643;
    border-style:dashed dashed dashed solid;
}

div.head table tr td div.showMenu
{
	border-width: 12px;
	cursor: pointer;
	padding-left: 5px;
	margin-left: -12px;
	width: 0px;
	height: 0px;
	border-color: transparent #C0C1DC transparent transparent;
	border-style: dashed solid dashed dashed;
}


div.head table tr td div.hideMenu
{
	cursor:pointer;
	margin-top:0px;
	width:0px; height:0px; border:10px solid; 
	border-color:transparent transparent transparent #C0C1DC;
    border-style:dashed dashed dashed solid;

}

div.head table tr td div.hideMenu:hover
{
	border-color: transparent #FFFFCC transparent transparent;
}
 div.head table tr td div.hideMenu:hover
{
	border-color: transparent transparent transparent #FFFFCC;
}




/*begin pop window*/


#divPopWindow
{
    
    padding: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    behavior: url(styles/PIE.htc);    
    background-color:white;
    border-style: solid;
    border-color: #C0C0C0;
    border-width: 5px;
    width:auto;	
    position:absolute;
    z-index:1010;
    top:0px;
    left:0px;    

}

#divPopWindow table
{
  
    font-weight:normal;
    width:auto;
}

#divPopWindow th
{
    text-align:right;
    
}

#divPopWindow td
{
    
    text-align:left;
    padding-top:7px;
}


#divPopWindow p
{
    position:relative;
     z-index:0;
    max-width:400px;
    padding:0px;
    vertical-align:top;
    width:100%;
    text-align:right;
    margin:15px 0 0 0;
}

#divPopWindow #close,#divPopWindow1 #close
{
    width:102%;
    margin-right:-10px;
    text-align:right;
    position:absolute;
    margin-top:-30px;
     cursor:pointer; 
}

#divPopWindow table tr td.PopupTitle
{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 7px;
	border-bottom-style: dashed;
	border-bottom-width: thin;
	border-bottom-color: #C0C0C0;
	color: #3366CC;
} 
/*end pop window*/

a{text-decoration:none}