<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="myConnectionString" connectionString="data source=SERVER1;initial catalog=USC_TEST;password=ow1523;user id=ow;persist security info=true" providerName="System.Data.SqlClient" />
    <add name="orixConn" connectionString="data source=SERVER1;initial catalog=ORIX_TEST;password=ow1523;user id=ow;persist security info=true" providerName="System.Data.SqlClient" />
    --><!-- Model用 --><!--
    <add name="ORIXContext" connectionString="metadata=res://*/OrixModel.csdl|res://*/OrixModel.ssdl|res://*/OrixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=USC_TEST;password=ow1523;user id=ow;persist security info=true&quot;" providerName="System.Data.EntityClient" />
    <add name="ORIX_OTCContext" connectionString="metadata=res://*/OrixModel.csdl|res://*/OrixModel.ssdl|res://*/OrixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=ORIX_TEST;password=ow1523;user id=ow;persist security info=true&quot;" providerName="System.Data.EntityClient" />
    --><!-- JCIC用 --><!--
    <add name="uscConnectionString" connectionString="data source=SERVER1;initial catalog=USC_TEST;password=ow1523;user id=ow;persist security info=true" providerName="System.Data.SqlClient" />
    <add name="orixConn1" connectionString="uid=;pwd=;driver={SQL Server};server=SERVER1;database=ORIX_TEST;UID=SA;persist security info=true;application name=Control"/>-->
    <!--公司內網-->
    <add name="myConnectionString" connectionString="Data Source=172.30.9.97;Initial Catalog=USCC;password=orixuser;user id=orixuser;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="orixConn" connectionString="Data Source=172.30.9.97;Initial Catalog=USCC;password=orixuser;user id=orixuser;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="ORIXContext" connectionString="metadata=res://*/OrixModel.csdl|res://*/OrixModel.ssdl|res://*/OrixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.30.9.97;initial catalog=USCC;user id=orixuser;password=orixuser;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--本機-->
    <!--<add name="myConnectionString" connectionString="data source=(localDB)\v11.0;initial catalog=USCC;integrated security=True;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="orixConn" connectionString="data source=(localDB)\v11.0;initial catalog=USCC;integrated security=True;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ORIXContext" connectionString="metadata=res://*/OrixModel.csdl|res://*/OrixModel.ssdl|res://*/OrixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localDB)\v11.0;initial catalog=USCC;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--密碼有效天數 !-->
    <add key="ExpiredDays" value="30"/>
    
    <!--以下網頁不須經過驗證，即可直接登入!-->
    <add key="DoNotCheckPage" value="default.aspx,A00_01.aspx"/>

    <!--server name-->
    <add key="ServerName" value="GKSRV"/>

    <!--FOR SMART QUERY-->
    <add key="RPTSERVER" value="alinta2008"/>
    <add key="PRJCODE" value="alinta2008"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>