
  <appSettings>
	  <!--密碼有效天數 !-->
    <add key="ExpiredDays" value="30"/>
    
	
    <!--以下網頁不須經過驗證，即可直接登入!-->
    <add key="DoNotCheckPage" value="default.aspx,A00_01.aspx"/>

    <!--server name-->
    <add key="ServerName" value="GKSRV"/>
    
    <!--FOR SMART QUERY-->
    <add key="RPTSERVER" value="alinta2008"/>
    <add key="PRJCODE" value="alinta2008"/>

    
    
  </appSettings>
  
